body {
    margin: 0;
}



.chessboard-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: slateblue;

    .chessboard {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        width: 1000px;
        background-color: white;
        max-width: 90vh;
        max-height: 90vh;
        aspect-ratio: 1 / 1;
    }
}