body {
    margin: 0;
}



.chessboard-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: slateblue;

    .chessboard {
        position: relative;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        width: 1000px;
        background-color: white;
        max-width: 90vh;
        max-height: 90vh;
        aspect-ratio: 1 / 1;

        .end-message-box {
            width: 0;
            height: 9vw;
            background-color: rgba(0, 0, 0, 0.616);
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            z-index: 10;
            overflow: hidden;
            transition: width 0.5s;

        }

        .end-message-box.ended {
            width: 100%;
        }

        .end-message-div {
            position: absolute;
            width: 100vw;
        }

        .end-message {
            color: white;
            font-size: 3vw;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }


        div {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .next-move {
                position: absolute;
                background-color: rgba(128, 128, 128, 0.5);
                width: 35%;
                height: 35%;
                border-radius: 50%;
            }



            .promotion {
                width: 100%;
                height: 100%;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);


                img {
                    box-sizing: border-box;
                }

                img:hover {
                    border: black solid 1px;
                }

            }

        }

        /* .whitemove {
            background-color: rgba(0, 255, 255, 0.432) !important;
        }

        .blackmove {
            background-color: rgba(21, 255, 0, 0.432) !important;
        } */

    }
}



img {
    width: 100%;
}